*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#gradle dist
bin/
.settings/
build/
.gradle
!gradle-wrapper.jar

#eclipse
.project
.classpath

#UML diagrams for MSc
*.png
*.ucls

#graph corpus for MSc
src/main/resources/examples

#generatedSummaries
summary.txt
collatedSummary.txt
